body {
  color: green;
  font-size: 13px;
  text-align: center;
}

.btn {
  font-size: 35px;
  border-radius: 10px;
  color: white;
  transition: 0.2s linear;
  background: #0b63f6;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.most {
  width: 100%;
}

.info {
  text-align: center;
  padding-left: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.review {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.btn:hover {
  box-shadow: 2px 2px white, 4px 4px #fc63b5;
  top: -4px;
  left: -4px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
    background-color: antiquewhite;
    color: #fc63b5;
  }

  .btn {
    font-size: 45px;
    border-radius: 25px;
    color: #0b63f6;
    transition: 0.2s linear;
    background: #b7c9e7;
  }

  .info {
    text-align: center;
    padding-left: 40px;
    width: 90%;
    display: flex;

    flex-flow: row wrap;
  }

  .review {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 25px;
    background-color: floralwhite;
    color: darkorchid;
  }

  .btn {
    font-size: 45px;
    border-radius: 25px;
    color: #0b63f6;
  }

  .info {
    text-align: center;
    padding-left: 40px;
    width: 90%;
    display: flex;

    flex-flow: row wrap;
  }

  .review {
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
}
